.letter {
    display: grid;
    grid-template-columns:
        17px
        48px
        160px
        64px
        1fr
        60px;

    align-items: center;
    height: 48px;
    padding: 8px 11px;
    background-color: var(--backgroundLetterList);
    color: var(--textSecondary);
    border-radius: 12px;
    position: relative;
}

.letter::after {
    content: "";
    background-color: var(--separatorPrimaryAlpha);
    position: absolute;
    top: calc(100% - 1px);
    left: 65px;
    width: calc(100% - 65px - 12px);
    height: 1px;
}

.letter:last-child::after {
    visibility: hidden;
}

.letter > *:nth-child(3) {
    color: var(--textPrimary);
}

.letter > *:nth-child(2),
.letter > *:nth-child(4) {
    align-self: center;
    justify-self: center;
}

.letter > *:nth-child(5) {
    margin-right: 24px;
}

.letter.hasAttachments,
.letter.hasFlag {
    grid-template-columns:
        17px
        48px
        160px
        64px
        1fr
        32px
        60px;
}

.letter.hasAttachments > *:nth-child(6),
.letter.hasFlag > *:nth-child(6) {
    margin-right: 16px;
}

.letter.hasAttachments.hasFlag {
    grid-template-columns:
        17px
        48px
        160px
        64px
        1fr
        27.5px
        32px
        60px;
}
.letter.hasAttachments.hasFlag > *:nth-child(6) {
    margin-right: 10.5px;
}

.letter.hasAttachments.hasFlag > *:nth-child(7) {
    margin-right: 16px;
}

.letter:hover,
.letter:focus {
    background-color: var(--contentTransparentHover);
}

.selected,
.selected:hover,
.selected:focus {
    background-color: var(--contentTransparentActive);
}
