.addFolder {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 20px;
  width: 200px;
  position: relative;
  cursor: pointer;
}

.addFolder::before {
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  top: -8px;
  left: 0;
  background-color: var(--letter-text);
}

.text {
  color: var(--letter-text);
}
