.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.attachments {
    display: flex;
    gap: 2px;
}

.info {
    display: flex;
    gap: 16px;
    color: var(--letter-head-text);
}

.downloadLink {
    text-decoration: none;
}

.fileSize {
    color: var(--letter-text);
}
