.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.attachments {
    display: flex;
    gap: 2px;
}

.info {
    display: flex;
    gap: 16px;
    color: var(--textPrimary);
}

.downloadLink {
    text-decoration: none;
    color: var(--textLink)
}

.fileSize {
    color: var(--textSecondary);
}
