.info {
    display: grid;
    grid-template:
        [avatar] "avatar top" 16px [topline]
        [avatar] "avatar bottom" 16px [bottomLine]
        / 40px 1fr;
    gap: 4px;
}

.avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
}

.topLine {
    grid-area: top;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.topLine > *:first-child {
    color: var(--textPrimary);
}

.markIndicator {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
}

.bottomLine {
    grid-area: bottom;
    font-size: 13px;
    color: var(--textSecondary);
    align-self: flex-end;
}
