.imagePreview {
    text-decoration: none;
    color: var(--textPrimary);
    background-color: var(--backgroundContent);
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}

.big > img {
    max-width: 256px;
    max-height: 256px;
    border-radius: 12px;
}

.heightBased {
    cursor: not-allowed;
    img {
        max-height: 128px;
        border-radius: 6px;
    }
}

.download {
    position: absolute;
    bottom: 6px;
    left: 4px;

    background: var(--downloadGradient);
    width: calc(100% - 8px);
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    visibility: hidden;
}
.big > .download {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.heightBased > .download {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.imagePreview:hover .download {
    visibility: visible;
}
