.attachmentIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    padding: 4.5px 4px;
    width: fit-content;
    height: fit-content;
}

.attachmentIndicator.active {
    background-color: var(--contentTransparentActive);
}

.indicator {
    cursor: pointer;
}

.popup {
    position: absolute;
    padding: 4px 0;
    background-color: var(--backgroundContent);
    border-radius: 12px;
    box-shadow: var(--popupBoxShadow);
    left: -4px;
    transform: translateX(-100%);
    z-index: 2;
}

.closed {
    visibility: hidden;
}
