.button {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    border-radius: 8px;
}

.dragedOver {
    background-color: var(--backgroundAccent);
    color: #FFFFFF;
}


.activated {
    gap: var(--gap, 10px);
    padding: 12px 11px;
    width: 200px;

    color: var(--sidebarItemTextPrimary);

    @media screen and (max-width: 768px) {
        border-radius: 4px;
        justify-content: center;
        width: 36px;

        & > *:nth-child(2) {
            display: none;
            width: 0px;
        }
    }

    &:hover,
    &:focus {
        background-color: var(--transparentHover);
    }

    &.active,
    &.active:hover,
    &.active:focus {
        font-weight: 700;
        background-color: var(--transparentActive);
    }
}

.outlined {
    justify-content: center;
    background-color: var(--backgroundSidebarComposeButton);
    color: var(--sidebarComposeButtonText);
    border: 1px solid #00103d1f;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 15px;
    width: 200px;

    @media screen and (max-width: 768px) {
        width: 36px;
        height: 36px;
        padding: 8px;
    }
}

.sidebarButton,
.headerButton{
    gap: var(--gap, 15px);
    padding: 8px 20px;
    width: 200px;
    height: 36px;
}

.sidebarButton {
    color: var(--sidebarItemTextPrimary);
    @media screen and (max-width: 768px) {
        padding: 12px 11px;
        border-radius: 4px;
        justify-content: center;
        width: 36px;
    & > *:nth-child(2) {
            display: none;
            width: 0px;
        }
    }
}

.headerButton {
    color: var(--headerTextPrimary);
    font-size: 15px;
    font-weight: 500;
}

.menuItem {
    width: 240px;
    white-space: nowrap;
    border-radius: 0;
    gap: var(--gap, 15px);
    height: 40px;
    padding: 10px 24px;
    color: var(--textPrimary);
    font-size: 15px;

    &:hover,
    &:focus {
        background-color: var(--contentTransparentHover);
    }
}

.accent {
    height: 36px;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    background-color: var(--backgroundAccent);
}

.adaptive {
    width: fit-content
}

.primary {
    color: var(--textPrimary)
}

.sidebar {
    color: var(--sidebarItemTextPrimary)
}

.header {
    color: var(--headerTextPrimary)
}
