body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 15px;
  background: var(--main);
}

body * {
  box-sizing: border-box;
}

@font-face {
  font-family: ‘helvetica neue’;
  src: local(‘Arial’);
}
