.wrapper {
  width: 200px;
  padding: 12px 11px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: var(--text);
}

@media screen and (max-width: 768px) {
  .wrapper {
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }

  .title {
    display: none;
    width: 0px;
  }
}
.wrapper:hover,
.wrapper:focus {
  background-color: var(--hover);
}

.active,
.active:hover,
.active:focus {
  font-weight: 700;
  background-color: var(--active);
}
