.loader {
  position: relative;
  will-change: transform;
}

.loaderWall {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;
  background-color: var(--separatorPrimaryAlpha);

  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: flex-end;
}

