.content {
  display: flex;
  gap: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title {
  color: var(--letter-head-text);
  font-weight: 700;
}

.text {
  color: var(--letter-text);
}

.read .author,
.read .title {
  font-weight: 400;
}
