.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  margin-right: 8px;
  color: var(--letter-head-text);
  font-weight: 700;
}

.read .author,
.read .title {
  font-weight: 400;
}
