.layout {
    --header-height: 56px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head {
    height: var(--header-height);
    z-index: 2;
}

.head * {
    color: var(--headerTextPrimary);
    font-size: 15px;
}

.content {
    --sidebar-width: 232px;
    background-color: var(--backgroundTertiary);
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    height: calc(100vh - var(--header-height));
    gap: 12px;
    padding: 16px 12px;
}

.content > div:nth-child(2) {
    background-color: var(--backgroundContent);
    border-radius: 12px;
    width: calc(100vw - var(--sidebar-width) - 36px);
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .content {
        --sidebar-width: 40px;
    }
}
